@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import 'https://fonts.googleapis.com/css?family=Racing+Sans+One';

/*****************************************
Normalize CSS styles 
*****************************************/
*, body, button, input, textarea, select {
  text-rendering: optimizeLegibility;
  font-size:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym {
  border:0;
}
/*****************************************
Body Style
*****************************************/
body {
  background-color:#222;
  font-family: sans-serif;
  text-align: center;
  padding:25px
}
/*****************************************
Element Title Style
*****************************************/
.myTitle{
  font-family: 'Racing Sans One', "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;;
  font-size: 55px;
  margin-bottom:15px;
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
/*****************************************
Element Holder Style
*****************************************/
.holder {
  border: 1px solid #999;
  margin: auto;
  padding: 25px;
  background: #666;
  -webkit-box-shadow: 0 1px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
}
/*****************************************
Element Held Style
*****************************************/
.holder .held {
  padding: 25px;
  margin-top: 25px;
  border: 1px solid #999;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(12%, #f2f2f2), color-stop(90%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}
.holder .held:nth-of-type(1) {
  margin-top: 0px;
}
.insideHolder1{
  vertical-align: top;
  border:1px solid white;
  background:rgba(255,255,255,0.5);
  padding:10px;
  margin-bottom:15px;
  -webkit-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
}
.insideHolder2{
  vertical-align: top;
  border:1px solid white;
  background:rgba(0,0,0,0.1);
  padding:10px;
  margin-bottom:15px;
  -webkit-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 0 black, inset 0 1px 7px rgba(0, 0, 0, 0.4);
}
.insideHolder2:last-child,
.insideHolder1:last-child{
  
    margin-bottom:0;
}
/*****************************************
Element Button Style
*****************************************/
.smallHead {
    font-weight: bold;
    color: #555;
    font-size: 16px;
}
.inputHolder{
  display: inline-block;
  width: 42%;
  padding: 5px 3%;
}
.inputHolder label{
  
}
.inputHolder input{
  
}
/*****************************************
Element Button Style
*****************************************/
.button {
    display: inline-block;
    vertical-align: baseline;
    margin: 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.button:hover {
    text-decoration: none;
}
.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}
/*****************************************
Element Button Color Styles
*****************************************/
/* black */
.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top, #666, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.button.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top, #444, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.button.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top, #000, #444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.button.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.button.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.button.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.button.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.button.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.button.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.button.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.button.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top, #0078a5, #00adee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* rosy */
.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.button.rosy:hover {
    background: #ba4b58;
    background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
    background: -moz-linear-gradient(top, #cf5d6a, #a53845);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.button.rosy:active {
    color: #dca4ab;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
    background: -moz-linear-gradient(top, #bf404f, #f16c7c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
/* green */
.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.button.green:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top, #6b9d28, #436b0c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.button.green:active {
    color: #a9c08c;
    background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
    background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
/* pink */
.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.button.pink:hover {
    background: #d57ea5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
    background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.button.pink:active {
    color: #f3c3d9;
    background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
    background: -moz-linear-gradient(top, #f171ab, #feb1d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}


.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}
/************************************************/

.holder{
  width:1000px;
}
#logo img{
  width:10%;
  float:left;
}
#logo2 img{
	width:10%;
	float:right;
}
#product_id{
  width:300px;
  margin:0 auto;
  font-weight:bold;
  font-size:1.3em;
}
.held{
  position:relative;
  overflow:hidden;
}
.button{
  width:150px;
  padding:10px;
}
.buttons{
	padding-bottom:10px;
}
/*****************************  Color Menu    *****************************/

ul{
  background:#efefef;
}
.tab-content{
  background:rgba(0,0,0,0.7);
}
.tab-content ul{
	list-style:none;
}
.tab-content li{
  width:15px;
  height:45px;
  float:left;
  margin:5px;
  border:1px solid #ccc;
  padding:0;
}
.tab-content li:hover{
	box-shadow:none;
}
ul li{
  padding:10px;
}

.holder .container{
  margin:auto !important;
  width:100%;
  padding:0;
}
.nav.nav-tabs li.active{
  background:rgba(0,0,0,0.9);
}
#bottom-detail-menu.nav.nav-tabs li.active{
	background:#ccc !important;
}
.nav.nav-tabs a{
  color:#000;
  font-weight:bold;
}
#currentColor{
 width:100px;
  height:60px;
  float:left;
  color:#ccc;
  font-weight:bold;
  font-size:1.2em;
  text-shadow:1px 1px #000;
  letter-spacing:1.5px;
  font-family:'Arial';
}
.tab-content{padding-bottom:5px}
.nav.nav-tabs input[type=checkbox]{
  margin:10px;
}
/****************************************************************/

.page-id-7361 #ContentWrapper{
	background-image:url('altitude.jpg') !important;
	background-postion:0 0;
	background-size:cover;
	background-repeat:no-repeat;
}

#ActivityDIV .swatchHolder{
  position:absolute;
  bottom:0px;
  margin:auto;
  left:0px;
  right:0px;
  list-style-type:none;
  text-align:center;
  display:inline-block;
  padding: 15px;
  width:260px;
  border-radius: 20px 20px 0px 0px;
  color: black;
}
#ActivityDIV .swatchHolder .colorHolder{
  width:100%;
  line-height: 100%;
  content:'Chosen Color';
  padding: 10px 0px;
  margin: 0px auto 15px auto;
  cursor:pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
   box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#ActivityDIV .swatchHolder li:not(.colorHolder){
  height:25px;
  width:25px;
  margin:2px;
  display:inline-block;
  cursor:pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#ActivityDIV svg{
  width:100%;
  display:inline-block;
}
#ActivityDIV svg path{
  cursor:pointer;
}
svg#canopy{padding-bottom:30px;}
#handle-detail-left-inner svg{
  height:296px;
}
#logo img{
  width:14%
}
ul.checkboxes{
	list-style:none;
}
ul.checkboxes li{
  float:left;
}
ul.checkboxes input{
  margin-right:10px;
}
span.list_title_top{
  float:left;
  padding-top:15px;
  font-weight:bold;
  color:#000;
}
#ring_cover_logo_background{
  display:none;
}
.white{
	background:none;
	border:none;
}
svg{

background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
#ActivityDIV{
  margin:0;
  padding:0;
}

.holder{
	
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

#res-flap-detail-inner,
#res-flap-bottom-detail-inner,
#ring-cover-detail{
  width:500px;
  display:block;
  margin:auto;
}
h3#resFlapBottom{
	color:#000;
	display:none;
}
#sidewall-detail{
  display:block;
  width:600px;
  margin:auto;
}
#detail_image_holder_0 .container,
#detail_image_holder_1 .container,
#detail_image_holder_2 .container{
  padding-top:40px;
}
span.logo_color_list_title{
  color:#000;
  font-size:1.4em;
  float:left;
  margin-left:10px;
}
.logo_colors li,
#stripe_colors li,
#stripe_colors_sidewall li{
  display:block;
  float:none;
  width:50px;
  height:15px;
}
.logo_colors ul,
#stripe_colors ul,
#stripe_colors_sidewall ul{
  float:left;
  margin-left:20px;
  clear:both;
}
.current_logo_color{
	color:#ccc;
  display:block;
  width:100px;
  height:50px;
  margin:auto;
  margin-bottom:20px;
  padding:5px;
  border:.5px solid #000;
  box-shadow:2px 2px 3px #000;
  font-weight:bold;
  text-shadow:1px 1px 1px #000;
}
.logo_colors > ul > li:first-child,
#stripe_colors > ul > li:first-child{display:none;}
#stripe_colors ul li:nth-child(n+26):nth-child(-n+29),
#stripe_colors_sidewall ul li:nth-child(n+26):nth-child(-n+29){
  display:none
}
#logo_colors_01 ul,
#logo_colors_02 ul,
#logo_colors_03 ul,
#stripe_colors ul,
#stripe_colors_sidewall ul{
  background:#000;
  padding:4px;
}
li.currentColor{
  width:100px;
  color:#ccc;
  text-shadow:1px 1px 1px #000;
  font-weight:bold;
}
span.warning{
  font-weight:bold;
  color:red;
  font-size:1.2em;
}
#stripe_colors,#stripe_colors_sidewall{display:none;}
#logo_colors_03 form,
#logo_colors_01 form,
#logo_colors_02 form{
  color:#000;
  float:left;
}
#logo_colors_03 form input,
#logo_colors_01 form input,
#logo_colors_02 form input{
  margin-left:10px;
}
text#label_sidewall_left,
text#label_sidewall_right{
  font-size:2em;
}
#sidewallNestRight{
	display:none;
}
#rFlapTextForm,
#ringCoverTextForm{
	display:none;
}
#rFlapForm td,
#rFlapTextForm td,
#ringCoverForm td,
#ringCoverTextForm td,
#sidewallNestRight td,
#sidewallNestLeft td{
  text-align:left;
}
#sidewallNestLeft,
#sidewallNestRight{
	margin-left:20px;
}
#sidewallLeftText,
#sidewallRightText{
  margin-left:40px;
}
#detail_image_holder_2 form{
	clear:both;
}
#detail_image_holder_2 td{
	text-align:left;
}
#sidewallsTitle{
	clear:both;
	margin-top:20px;
}
#sidewallLeftText,
#sidewallRightText,
#rcTextAreaInput{
	display:none;
}
#resFlapTextAreaInput,
#resFlapTextAreaDetail,
#ringCoverTextAreaDetail,
#rightSidewallTextArea, 
#leftSidewallTextArea,
#rightSidewallTextAreaDetail,
#leftSidewallTextAreaDetail{
  color:#ccc;
  font-weight:normal;
  font-family: 'Russo One', sans-serif;
  text-align:center;
  border:none;
  display:none;
  resize:none;
  background:none;
}
#custom_text_detail text{
	font-size:1.5em;
}
#resFlapTextAreaInput label{
	font-family:'Arial';
	font-weight:bold;
	color:#000;
}
#ringCoverTextArea{
	font-size:1em;
	margin-left:5px;
}
#ringCoverTextAreaDetail{
	font-size:2.5em;
}
#resFlapTextArea{
	font-size:1em;
}
#sidewallRightTextArea{
	-ms-transform:rotate(-98deg); 		/* IE 9 */
	-moz-transform:rotate(-98deg); 		/* Firefox */
	-webkit-transform:rotate(-98deg); 	/* Safari and Chrome */
	-o-transform:rotate(-98deg); 			/* Opera */
}
#sidewallLeftTextArea{
	-ms-transform:rotate(90deg);			/* IE 9 */
	-moz-transform:rotate(90deg);		/* Firefox */
	-webkit-transform:rotate(90deg); 	/* Safari and Chrome */
	-o-transform:rotate(90deg); 			/* Opera */
}

#sw_left_custom_text_detail{
  font-size:2.0em;
}
#sw_right_custom_text_detail{
  font-size:2.0em;
  -ms-transform:rotate(10deg); 		/* IE 9 */
  -moz-transform:rotate(10deg); 		/* Firefox */
  -webkit-transform:rotate(10deg); 	/* Safari and Chrome */
  -o-transform:rotate(10deg); 			/* Opera */
}
#sw_left_custom_text{
  font-size:1.8em;
}
#sw_right_custom_text{
  font-size:1.8em;
}
#resFlapTextAreaInput input,
#rcTextAreaInput input{
  margin-right:10px;
  float:none;
  display:block;
}
#resFlapTextAreaInput input[type="radio"]{
  margin-left:10px;
}
#leftSidewallTextAreaInput td,
#rightSidewallTextAreaInput td{
	padding:6px 10px 6px 10px;
}
#resFlapTextAreaInput label,
#rcTextAreaInput label{
  margin-left:20px;
  color:#000;
}
#resFlapTextAreaInput,
#rcTextAreaInput{
  float:right;
}
#rcTextAreaInput table{
  margin-top: -170px;
   border:1px solid #ccc;
}
#rcTextAreaInput{
  margin-right:10px;
}
#rcTextAreaInput td{
	padding:6px 20px 6px 0;
}
#resFlapTextAreaInput table{
  margin-top:-200px;
  border:1px solid #ccc;
}
#leftSidewallTextAreaInput table,
#rightSidewallTextAreaInput table{
  border:1px solid #ccc;
}
#leftSidewallTextAreaInput input,
#rightSidewallTextAreaInput input{
  color:#000;
}
#rcTextAreaInput label{
  color:#000;
}
#resFlapTextAreaInput label{
  text-align:left;
}
#rightSidewallTextAreaInput,
#leftSidewallTextAreaInput{
  float:right;
  margin-top:-200px;
  display:none;
}
#rightSidewallTextAreaInput label,
#leftSidewallTextAreaInput label{
  color:#000;
  margin-right:10px;
}
.logo_color_list_title{
  clear:both;
}
#res-flap-detail-inner svg,
#ring-cover-detail svg{
  display:block;
}
span#pinstripe-instruction{
	display:none;
}
.page-id-7361 .tab-pane .container{
  padding-bottom:20px;
}
#handleColors{
  font-weight:bold;
  font-size:.8em;
}
.alignLeft{
  text-align:left !important;
  font-family:Arial;
  color:#000;
}
#uncheckWhenDone,#swUncheckWhenDone{display:none;}
#logo_colors_03 form td,
#logo_colors_03 form tr,
#logo_colors_03 form table{
  padding:0;
  margin-top:0;
  margin-bottom:0;
}
img#wingsClassicChoice,
img#wingsVisionChoice{
  width:35%;
  margin-right:20px;
  margin-top:50px;
}
.wingsChoice{
  width:50%;
  float:left;
  margin-bottom:20px;
}
.container.main{
  clear:both;
}
#notice,
.choiceIntro{
  color:#000;
}
#testImage{display:none}